



@-moz-keyframes spin {
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  to {transform:rotate(360deg);}
}

h2 {
  text-align:center;
}

.AboutDialog {
  margin:100px;
  z-index: 6000;
}

.AboutContent {
  overflow-y: scroll;
  margin:20px;
}

#closeButton {
  position:absolute;
  right:10px;
  top:20px;  
  background-color: lightgray;
  border: 1px solid #222;
}

.aboutDiv {
  position:absolute;
  width:50%;
  height:50%;
  top:10%;
  left:25%;
  background-color: white;
  z-index:6000;
  border-radius: 25px;
  text-align:start;
  padding:50px;
  overflow-y: scroll;
}

.aboutBkg {
  position:absolute;
  width:100%;
  height:100%;
  top:0%;
  left:0%;
  background-color: black;
  z-index:6000;
  opacity:0.5;

}

.loadingBkgDiv {
  background-color: black;
  opacity: 0.5;
}

.loadingDiv {
  position:absolute;
  z-index:4999;
  height: 90vh;
  width: 90%;
  margin-left: 5%;
  border: 5px solid #222;
  border-radius: 25px;

}

.loadingSpinner {
  animation: spin 1500ms linear infinite;
  position: absolute;
  top:50%;
  left: 50%;
  z-index: 5000;
}



.controlLabel {
  width: 100%; /* Full-width */
  height: 25%; /* Specified height */
  color:white;
}

.slider {
  width: 100%; /* Full-width */
  height: 25%; /* Specified height */
  outline: none; /* Remove outline */
}

.zoomButton {
  opacity: 1;
  width: 50%;
  height: 50%;
  background-color: #000;
  color: white;
  font-size: large;
}
.mapControls {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width:15%;
  height:10%;

  border: 3px solid #000;
  z-index: 5000;

}

.mapControlsBkg {
  z-index: 4999;
  background-color: #000;
  opacity: 0.4;

}



#container {
  height: 90vh;
  width: 90%;
  margin-top: 2vh;
  margin-left: 5%;
  border: 5px solid #000;
  border-radius: 25px;
}



.leaflet-container {
  width: 100wh; 
  height: 90vh;
  border-radius: 20px;

}


.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}

.tooltip {
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  font-size: 13px;
  box-shadow: none !important;
  color: lightgrey !important;
}



.App {
  text-align: center;
  background-color: #222;
  position:absolute;

  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
