.controlLabel {
  width: 100%; /* Full-width */
  height: 25%; /* Specified height */
  color:white;
}

.slider {
  width: 100%; /* Full-width */
  height: 25%; /* Specified height */
  outline: none; /* Remove outline */
}

.zoomButton {
  opacity: 1;
  width: 50%;
  height: 50%;
  background-color: #000;
  color: white;
  font-size: large;
}
.mapControls {
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex;
  flex-wrap: wrap;
  /*
  width: 13%;
  height: 20%;
  */
  border: 3px solid #000;
  z-index: 10000;
  background-color: #000;
  opacity: 0.4;
}



#container {
  height: 90vh;
  width: 90%;
  margin-top: 5vh;
  margin-left: 5%;
  border: 5px solid #000;
  border-radius: 25px;
}



.leaflet-container {
  width: 100wh; 
  height: 90vh;
  border-radius: 20px;

}


.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}

.tooltip {
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  font-size: 13px;
  box-shadow: none !important;
  color: lightgrey !important;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
